<h1 id="titulo-form">Formulário de Cadastro</h1>
<div id="form-inteiro">
<form action="/dadosform" method="POST">
    <div id="form-dentro">
    <div id="div-name">
    <label for="name">Digite seu nome: </label>
    <input type="text" id="name" name="name" formmethod="POST"><br><br>
    </div>
    <label for="idade">Digite sua idade: </label>
    <input type="text" id="idade" name="idade"><br><br>
    <label for="email">Digite seu e-mail: </label>
    <input type="text" id="email" name="email" formmethod="POST"><br>
    <button type="submit" formmethod="POST">Enviar dados</button><br>
    <a href="/">Voltar para a pagina inicial</a>
</form>
    </div>
</div>