<form action="/dadosform" method="POST">
    <label for="name">Digite seu nome: </label>
    <input type="text" id="name" name="name" formmethod="POST">><br><br>
    <label for="idade">Digite sua idade: </label>
    <input type="text" id="idade" name="idade"><br><br>
    <label for="email">Digite seu e-mail: </label>
    <input type="text" id="email" name="email" formmethod="POST">
    <button type="submit" formmethod="POST">Enviar dados</button>
</form>